
<div ng-class="isHidden" ui-hide="true">
<div class="masthead">

	<h3 class="muted">
		Split Session : Input Criteria (Development in Progress...) <small>
			 <a href="http://www.psiexams.com">vSprint1</a>
		</small>
	</h3>
</div>
<pre>DEBUG DIV:  </pre>
<p ng-class="boldError">Please select a State or Test Centerr</p>
<form ng-model="sessionForm" class="form-horizontal">

<div class="row">

<div class="span3">

	<label for="selectState">Select State</label> <select id="selectState"
		ng-model="sessionForm.states"
		ng-options="(statesList.State_Name.$)  for statesList in states | selectStateFromSelected : sessionForm.allTestCenters.State_ID.$" >
		<option></option>
		</select> 

</div>

<div class="span3">
	<label for="selectAllTestCenter">All Test Centers</label> <select id="selectAllTestCenter"
		ng-model="sessionForm.allTestCenters"
		value="{{testCenter.Test_Center_ID.$}}"
		ng-options="testCenterList.Test_Center_ID.$ +' (' + testCenterList.TestCenter_Name.$ + ')'  for testCenterList in aTestCenters | selectTestCenterFromSelected: sessionForm.states.State_ID.$" >
		<option></option>
		</select> 

</div>

<!--div class="span2">
	<label for="selectCenter">Select Test Center</label> <select
		id="selectCenter" ng-model="sessionForm.selectTestCenter"
		ng-required="true" required>
		<option value="all">ALL</option>
		<option ng-repeat="testCenter in testCenterList"
			value="{{testCenter.Test_Center_ID.$}}">{{testCenter.Test_Center_ID.$}}-{{testCenter.Test_Center_Name.$}}</option>
			
	</select> 
</div-->	
<div class="span3">
	<label for="fromDate">*From Date</label> <input id="fromDate"
		name="fromDate" ng-model="fromDate" ui-date-format="mm/dd/yy"
		ng-change="restrictEndDate()" ui-date="fromDateOptions"
		ng-required="true" ui-date required/> 
</div>
<div class="span3 pull-right">
		<label for="toDate">*To Date</label> <input
		id="toDate" ui-date="toDateOptions" name="toDate"
		ui-date-format="mm/dd/yy" ng-required="true" ng-model="toDate"
		ui-date>
</div>	


</div>

<div id="buttonrow" class="row">
		<div class="span12">
		
			<input ng-disabled="sessionForm.$invalid" id="submit"  value="Get Sessions" type="submit" class="atlastButton"
				ng-click="getSessions()">
			<input type="submit" value="Clear" class="atlastButton" ng-click="clear()" ng-class="hideButton"
				ng-disabled="sessionForm.$invalid">
	</div>	
</div>
	
	
</form>
<div class="row">
<span ng-class="resultsSpan" class="offset6" style="color:red;">{{resultsMessage}}</span>
<table class="table"  ng-class="isTable">
	<thead>
		<tr>
			<th>Test Center Name</th>
			<th>Session Details</th>
			<th>Session Date</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>7</th>
			<th>8</th>
			<th>9</th>
			<th>10</th>
			<th>11</th>
			<th>12</th>
			<th>13</th>
			<th>14</th>
			<th>15</th>
			<th>16</th>
			<th>17</th>
			<th>18</th>
			<th>19</th>
			<th>20</th>
			<th>21</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="sessions in sessionsList | orderBy:orderProp"  ng-class="{selected: sessions.Session_ID.$ == idSelectedVote}">
		
			<td>{{sessions.TestCenter_Name.$}}</td>
			<td id="wider">{{sessions.Start_Time.$}} - {{sessions.End_Time.$}}
				({{sessions.Reserved_Seat_Count.$}} of {{sessions.Seat_Count.$}})</td>
			<td>{{sessions.Session_Date.$|date:'MM/dd/yyyy'}}</td>
			<td>{{sessions.Seat1.$}}</td>
			<td>{{sessions.Seat2.$}}</td>
			<td>{{sessions.Seat3.$}}</td>
			<td>{{sessions.Seat4.$}}</td>
			<td>{{sessions.Seat5.$}}</td>
			<td>{{sessions.Seat6.$}}</td>
			<td>{{sessions.Seat7.$}}</td>
			<td>{{sessions.Seat8.$}}</td>
			<td>{{sessions.Seat9.$}}</td>
			<td>{{sessions.Seat10.$}}</td>
			<td>{{sessions.Seat11.$}}</td>
			<td>{{sessions.Seat12.$}}</td>
			<td>{{sessions.Seat13.$}}</td>
			<td>{{sessions.Seat14.$}}</td>
			<td>{{sessions.Seat15.$}}</td>
			<td>{{sessions.Seat16.$}}</td>
			<td>{{sessions.Seat17.$}}</td>
			<td>{{sessions.Seat18.$}}</td>
			<td>{{sessions.Seat19.$}}</td>
			<td>{{sessions.Seat20.$}}</td>
			<td>{{sessions.Seat21.$}}</td>
			<td>
				<input type="submit" value="Edit" class="atlastButton" ng-click="editRow(sessions)">
			</td>

		</tr>

	</tbody>
</table>
</div>
</div><!--THis div is hidden/shown pending action isHidden DIV-->
<!--Input Criteria below Show this DIV Below when EDIT is clicked-->
<div class="row inputSession" ng-class="inputDiv">

<h3 class="muted">Split Session:  Input Split Criteria</h3>
<h4 class="muted">Test Center Session Details</h4>
Test Center Name:  <b>{{inputForm.TestCenter_Name.$}}</b><br/>  
Session Duration:  <b>{{inputForm.Start_Time.$}} - {{inputForm.End_Time.$}}</b><br/><br/>  
Schedule Details:<br/><br/>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Seats</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>7</th>
			<th>8</th>
			<th>9</th>
			<th>10</th>
			<th>11</th>
			<th>12</th>
			<th>13</th>
			<th>14</th>
			<th>15</th>
			<th>16</th>
			<th>17</th>
			<th>18</th>
			<th>19</th>
			<th>20</th>
			<th>21</th>
		</tr>
		<tr>
		<th>Duration</th>
		<td>{{inputForm.Seat1.$}}</td>
		<td>{{inputForm.Seat2.$}}</td>
		<td>{{inputForm.Seat3.$}}</td>
		<td>{{inputForm.Seat4.$}}</td>
		<td>{{inputForm.Seat5.$}}</td>
		<td>{{inputForm.Seat6.$}}</td>
		<td>{{inputForm.Seat7.$}}</td>
		<td>{{inputForm.Seat8.$}}</td>
		<td>{{inputForm.Seat9.$}}</td>
		<td>{{inputForm.Seat10.$}}</td>
		<td>{{inputForm.Seat11.$}}</td>
		<td>{{inputForm.Seat12.$}}</td>
		<td>{{inputForm.Seat13.$}}</td>
		<td>{{inputForm.Seat14.$}}</td>
		<td>{{inputForm.Seat15.$}}</td>
		<td>{{inputForm.Seat16.$}}</td>
		<td>{{inputForm.Seat17.$}}</td>
		<td>{{inputForm.Seat18.$}}</td>
		<td>{{inputForm.Seat19.$}}</td>
		<td>{{inputForm.Seat20.$}}</td>
		<td>{{inputForm.Seat21.$}}</td>
		</tr>
	</thead>
	<tbody>

	</tbody>
	</table>
<h4>Enter Split Session Details</h4>
<br/>
<br/>
<form name="myForm" ng-model="inputForm" class=".form-horizontal" novalidate>




<label for="endTime">First Session End Time:  </label> 
<div id="endTime" class="row"><!--Start OF endTime -->
<div class="span3">


 <div id="startSelector" ng-time-selector hours="hours" minutes="minutes" period="period"></div>

</div>
</div><!--End OF endTime -->
<label for="startTime">Second Session Start Time:  </label> 
<div id="startTime" class="row">

<div class="span3">
  <div id="endSelector" ng-time-selector hours="StHours" minutes="StMinutes" period="StPeriod"></div>
  
</div>

</div>


<label for="sessionSeats"> # of seats in second session:  </label> 
<input name="mysessionSeats" type="number" ng-pattern="/^[0-9]{1,7}$/" id="sessionSeats" class="inputStyle" max="99" ng-model="seats"  ng-required="true">
<span class="formerror" ng-show="myForm.mysessionSeats.$error.number">
         Invalid Input:  Only Numeric Values.
</span>
<label for="comments">Split Session Comments(200 Characters only)</label> 
<textarea id="comments"  name="myTextarea" rows="4" cols="50" ng-model="comments" ng-maxlength="199">

</textarea>
<span class="formerror" ng-show="myForm.myTextarea.$error.maxlength">
         Invalid Input:  Reached Limit 200 Characters!
</span>


<div id="buttonrow" class="row">
		<div class="span12">
			<input type="submit" value="Split Sessions" ng-disabled="myForm.$invalid" class="atlastButton"
				ng-click="splitSession()">
			<input type="submit" value="Back to Results" class="atlastButton" ng-click="cancelBack();closeAlert($index)" ng-class="hideButton"
				ng-disabled="inputForm.$invalid">
			<input type="submit" value="Clear" class="atlastButton" ng-click="clearInputForm();closeAlert($index)" ng-class="hideButton"
				ng-disabled="inputForm.$invalid">
		

		</div>
	</div>

</form>

 <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Confirmation</h3>
        </div>
        <div class="modal-body">
           {{response}}
		 </div>
        <div class="modal-footer">
		   <input type="submit" value="OK" class="btn btn-success" ng-click="ok()">
		   <input type="submit" value="Back To Search Results" class="btn btn-warning" ng-click="cancel()">
		</div>
    </script>
 
</div>


